<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap"
                         maxReceivedMessageSize="200000000"
                         maxBufferSize="200000000"
                         maxBufferPoolSize="200000000">
                    <security mode="Transport" />
                  <readerQuotas maxDepth="32"
                                maxArrayLength="2000000000"
                                maxStringContentLength="2000000000"/>
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
      <client>
        <endpoint address="https://app3.timelog.com/progressive/service.asmx"
            binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
            contract="TimelogServiceReference.ServiceSoap" name="ServiceSoap" />
      </client>
    </system.serviceModel>
    <connectionStrings>
      <add name="TimelogDb" connectionString="Data Source=xxx;Initial Catalog=Timelog;User ID=xxx;Password=xxx" providerName="System.Data.SqlClient" />
      <add name="TimelogSiteCode" connectionString="xxx"/>
      <add name ="TimelogApiID" connectionString="xxx"/>
      <add name="TimelogApiPw" connectionString="xxx"/>
      <add name="WorkUnitsTable" connectionString="dbo.xx"/>
      <add name="ProjectsTable" connectionString="dbo.xx"/>
      <add name="InvoiceLineDetailsTable" connectionString="dbo.xx"/>
      <add name="InvoicesTable" connectionString="dbo.xx"/>
      <add name="InvoiceLinesTable" connectionString="dbo.xx"/>
      <add name="EmployeesTable" connectionString="dbo.xx"/>
      <add name="DepartmentsTable" connectionString="dbo.xx"/>
  </connectionStrings>
</configuration>