<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap"
                         maxReceivedMessageSize="200000000"
                         maxBufferSize="200000000"
                         maxBufferPoolSize="200000000">
                    <security mode="Transport" />
                  <readerQuotas maxDepth="32"
                                maxArrayLength="2000000000"
                                maxStringContentLength="2000000000"/>
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
      <client>
        <endpoint address="https://app3.timelog.com/progressive/service.asmx"
            binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
            contract="TimelogServiceReference.ServiceSoap" name="ServiceSoap" />
      </client>
    </system.serviceModel>
    <connectionStrings>
      <add name="TimelogDb" connectionString="Data Source=pitdevs08.pitdev.local;Initial Catalog=Timelog;User ID=srvTimelogImport;Password=Start123" providerName="System.Data.SqlClient" />
      <add name="TimelogSiteCode" connectionString="96eefd72946f4fa198d4cd9c1"/>
      <add name ="TimelogApiID" connectionString="PIT"/>
      <add name="TimelogApiPw" connectionString="1234"/>
      <add name="WorkUnitsTable" connectionString="dbo.WorkUnits"/>
      <add name="ProjectsTable" connectionString="dbo.Projects"/>
      <add name="InvoiceLineDetailsTable" connectionString="dbo.InvoiceLineDetails"/>
      <add name="InvoicesTable" connectionString="dbo.Invoices"/>
      <add name="InvoiceLinesTable" connectionString="dbo.InvoiceLines"/>
      <add name="EmployeesTable" connectionString="dbo.Employees"/>
      <add name="DepartmentsTable" connectionString="dbo.Departments"/>
  </connectionStrings>
</configuration>